<%= render partial: "partials/page_title", locals: {title: "Artworks", page_object: @artworks} %>

<section class="section">
  <div class="fixed-grid has-8-cols">
    <div class="grid box has-background-dark pb-0">
      <div class="cell is-col-span-3 subtitle has-text-weight-bold has-text-white is-6">Artwork</div>
      <div class="cell is-col-span-1 subtitle has-text-weight-bold has-text-white is-6">Artist</div>
      <div class="cell is-col-span-1 subtitle has-text-weight-bold has-text-white is-6">Categories</div>
      <div class="cell is-col-span-3 subtitle has-text-weight-bold has-text-white is-6">Exhibitions</div>
    </div>

    <% @artworks.each do |artwork| %>
      <div class="grid box">
        <div class="cell is-col-span-3">
          <%= link_to artwork.title, artwork %>
        </div>
        <div class="cell is-col-span-1">
          <% if artwork.artist.present? %>
            <%= link_to artwork.artist.title, artwork.artist %>
          <% else %>
            Unknown
          <% end %>
        </div>
        <div class="cell is-col-span-1">
          <% artwork.categories.each do |category| %>
            <p class="pr-3">
              <%= link_to category.title, category %>
            </p>
          <% end %>
        </div>
        <div class="cell is-col-span-3">
          <% artwork.exhibitions.each do |exhibition| %>
            <p class="pr-3">
              <%= link_to exhibition.title, exhibition %>
            </p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>