<div class="row gy-4">
  <% calls.each do |call| %>
    <div class="mx-auto col-sm-12 col-md-6 col-lg-5 card">
      <div class="row">
        <h2 class="col overflow-hidden text-center card-header"><%= link_to "Call Data", call %></h2>
      </div>
      <div class="row card-body">
        <div class="col-sm-12 col-md-6">
          <div class="row">
            <h3 class="col-6 col-md-12 text-end text-md-start h5">Call Time:</h3>
            <p class="col-6 col-md-12"><%= call.call_time.in_time_zone('Saskatchewan').to_fs(:long_ordinal) %></p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="row">
            <h3 class="col-6 col-md-12 text-end text-md-start h5">Closed Time:</h3>
            <p class="col-6 col-md-12"><%= call.closed_time.in_time_zone('Saskatchewan').to_fs(:long_ordinal) %></p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="row">
            <h3 class="col-6 col-md-12 text-end text-md-start h5">Incident Type:</h3>
            <p class="col-6 col-md-12"><%= call.incident_type %></p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="row">
            <h3 class="col-6 col-md-12 text-end text-md-start h5">Vehicle Crash:</h3>
            <p class="col-6 col-md-12"><%= call.vehicle_crash %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row card-body">
            <h2 class="text-center card-title">Location</h2>
            <div class="col">
              <div class="row">
                <p class="col col-12">Ward: <%= call.ward %></p>
                <p class="col col-12">Neighbourhood: <%= link_to call.neighbourhood.name, call.neighbourhood %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row card-body">
            <h2 class="text-center card-title">Units Sent</h2>
            <ul class="col list-group list-group-flush">
              <% call.units.each do |unit| %>
                <li class="list-group-item"><%= link_to unit.code, unit %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>